/*-----------------------------------------------------------------------
/*  COMPONENT
/*  assets/less/component/component.less
/*-----------------------------------------------------------------------



-----------------------------------------------------------------------*/


/* IMPORT VARIABLES */
@import "variables";





/*---------------------------------------------------------------------*/
/*  FRAMEWORK
/*---------------------------------------------------------------------*/

.push {
    margin-left: 0px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.push.pushed-left {
    @media(min-width:992px) {
        margin-left: 250px;
    }
}

.push.pushed-right {
    @media(min-width:992px) {
        margin-left: -250px;
    }
}

/*---------------------------------------------------------------------*/
/*  ANIMATION DELAY
/*---------------------------------------------------------------------*/
.delay-priorities(@n, @i: 1) when (@i =< @n) {
  .delayp@{i} {
        animation-delay: ~".@{i}s";
        -moz-animation-delay: ~".@{i}s";
        -webkit-animation-delay: ~".@{i}s";
        -o-animation-delay: ~".@{i}s";
        transition-delay: ~".@{i}s";
        -webkit-transition-delay: ~".@{i}s";
        -moz-transition-delay: ~".@{i}s";
        -o-transition-delay: ~".@{i}s";
  }
  .delay-priorities(@n, (@i + 1));
}

.delay-priorities(5);




/*---------------------------------------------------------------------*/
/*  SECTIONS
/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*  SECTION: section-bgimage-yes
        
        Must have:
        <div class="section-inner">
        <div class="section-overlay"></div>

/*---------------------------------------------------------------------*/

.section.section-bgimage-yes {
    background-color: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/bg-intro.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    @media(min-width:1280px) {
        background-attachment: fixed;
    }
    
    > .section-inner {
        > .section-overlay {
            content: '';
            position: absolute;
            // background-color: darken(@color_section, 10%);
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            zoom: 1;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
        }
        
        .section-content{            
            color: @color-text-invert;
            
            .content-boxes-text h2, .quote-text blockquote{
                color: @color-text-invert;
               
            }
            
            .content-boxes-text h2{
                color: @color-text-invert;
            }
            
            
        }
    }

}





/*---------------------------------------------------------------------*/
/*  Temp: Special bgimage-sections 
/*---------------------------------------------------------------------*/


.section.section-bgimage-yes.repeated_bg{
    background-image: url("../img/framework/pattern.jpg");
    background-repeat:repeat;
    background-size: 500px 500px;

    > .section-inner {
        > .section-overlay {
            background-color: darken(@color_section, 2%);
        }    
    }    
}


/*---------------------------------------------------------------------*/
/*  SECTION: ID-related bgs
/*---------------------------------------------------------------------*/

#renter_og_skatt_quotes.section-bgimage-yes {      
        background-image: url("../img/bg-renter_og_skatt.jpg");
}



/*---------------------------------------------------------------------*/
/*  SECTION: section_pynt
/*---------------------------------------------------------------------*/


.section.section_pynt { 
    
    background-color: #00293d;
       
    > .section-inner {
        position: relative;
        
        .section-content {
            padding-top: 300px;
            padding-bottom: 0px;
            
            
            @media(min-width:1024px) {
                padding-top: 300px;
                padding-bottom: 0px;
            }
        }
    }
}


/*---------------------------------------------------------------------*/
/*  COMPONENTS
/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*  4.1.  CONTENT BOXES - STYLE ONE
/*---------------------------------------------------------------------*/
.content-boxes.style-one {
    > .content-boxes-icon {
        > i {
            width: 36px;
            height: 36px;
            line-height: 36px;
            margin-bottom: 15px;
        }
    }
}


/*---------------------------------------------------------------------*/
/*  4.2.  CONTENT BOXES - STYLE TWO
/*---------------------------------------------------------------------*/
.content-boxes.style-two {
    > .content-boxes-icon {
        > i {
            width: 36px;
            height: 36px;
            line-height: 36px;
            border-radius: 3px;
            background-color: @color-primary;
            color: #fff;
            font-size: 20px;
            text-align: center;
            margin-bottom: 15px;
        }
    }

    &:hover {
        > .content-boxes-icon {
            > i {
                background-color: #222;
            }
        }
    }
}



/*---------------------------------------------------------------------*/
/*  4.3.  CONTENT BOXES - STYLE THREE
/*---------------------------------------------------------------------*/
.content-boxes.style-three {
    > .content-boxes-icon {
        > i {
            width: 38px;
            height: 38px;
            line-height: 38px;
            border-radius: 50%;
            background-color: @color-primary;
            color: #fff;
            font-size: 20px;
            text-align: center;
            margin-bottom: 15px;
        }
    }

    &:hover {
        > .content-boxes-icon {
            > i {
                background-color: #222;
            }
        }
    }
}





/*---------------------------------------------------------------------*/
/*  3. BAR CHART
/*---------------------------------------------------------------------*/
.bar-chart {
    margin-top: 40px;

    @media(min-width:992px) {
        margin-top: 5px;
        padding-left: 30px;
    }

    .bar-chart-item {    
        margin-bottom: 8px;
        height: 45px;
        background: @color-primary;
        border-radius: 2px;
        opacity: 0.8;
        overflow: hidden;
        white-space: nowrap;

        > p {
            color: #fff;
            font-size: 14px;
            line-height: 45px;
            padding-left: 15px;
        }
    }

    .bar-chart-legend {
        margin-top: 20px;

        &:before {
            display: block;
            position: relative;
            content: "";
            width: 100%;
            height: 1px;
            margin-bottom: -10px;
            background: rgba(255, 255, 255, 0.8);
        }

        > .legend {
            display: inline-block;
            float: left;
            width: 25%;

            p {
                color: rgba(255, 255, 255, 0.8);
                font-size: 14px;
            }

            &:before {
                display: block;
                position: relative;
                content: "";
                width: 1px;
                height: 10px;
                margin: auto;
                margin-bottom: 5px;
                background: rgba(255, 255, 255, 0.8);
            }
        }

        > .legend.legend-left {
            &:before {
                margin-left: 0;
            }
        }

        > .legend.legend-right {
            text-align: right;

            &:before {
                margin-right: 0;
            }
        }
    }
}



/*---------------------------------------------------------------------*/
/*  5. COUNTDOWN
/*---------------------------------------------------------------------*/
.countdown {
    .cd-content {
        .cd-element {
            border-bottom: 1px solid @color-primary;
            padding-bottom: 15px;

            > .cd-value {
                color: @color-primary;
                font-size: 40px;
                font-weight: 300;

                @media(min-width:360px) {
                    font-size: 60px;
                }
            }

            > .cd-label {
                color: #b7ada4;
                font-size: 20px;
                font-weight: 300;

                @media(min-width:360px) {
                    font-size: 30px;
                }
            }
        }
    }
}




/*---------------------------------------------------------------------*/
/*  6. COUNTERS
/*---------------------------------------------------------------------*/
.counter-item {
    > i {
        color: @color-primary;
        font-size: 40px;
        
        @media(min-width:480px) {
            font-size: 60px;
        }
        
        @media(min-width:768px) {
            font-size: 70px;
        }
    }

    > .inner-content {
        padding-top: 10px;

        .number {
            color: #fff;
            font-size: 24px;
            font-weight: 300;
            text-transform: uppercase;
        
            @media(min-width:480px) {
                font-size: 50px;
            }   
            
            @media(min-width:768px) {
                font-size: 60px;
            }
        }
    }

    > p {
        color: @color-primary;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        
        @media(min-width:480px) {
            font-size: 30px;
        }
        
        @media(min-width:768px) {
            font-size: 35px;
        }
    }
}

.counter-item.bubble {
    .inner-content {
        
        
        &:before {
            border-top-color: @color-primary;
        }
    }

    > p {
        border-bottom: 1px solid @color-primary;
    }
}


.counter-item.not-right-column.top-column {
    padding-bottom: 30px;

    @media(min-width:1024px) {
        padding-bottom: 0px;
    }
}

.counter-item.not-right-column {
    padding-bottom: 30px;

    @media(min-width:768px) {
        padding-bottom: 0px;
    }
}


/*---------------------------------------------------------------------*/
/*  7. FANCY TABLE
/*---------------------------------------------------------------------*/
.table.table-rj {
    border-bottom: 2px solid @color-primary;
    
    > caption {
        color: #111;
        font-weight: 700;
        padding-bottom: 2px;
    }

    > thead {
        background-color: @color-primary;
        
        > tr {
            > th {
                color: #fff;
                border-bottom: 2px solid darken(@color-primary, 5%);
            }
        }
    }

    > tbody {
        > tr {
            > td {
                background-color: #f2f2f4;
                color: darken(#f2f2f4, 80%);
                border-top: 1px solid darken(#f2f2f4, 10%);
            }
        }
    }
}

.table.table-striped.table-rj {
    > tbody {
        > tr {
            > td {
                background-color: #f2f2f4;
            }

            &:nth-child(even) {
                > td {
                    background-color: lighten(#f2f2f4, 2%);
                }
            }
        }
    }
}

.table.table-hover.table-rj {
    > tbody {
        > tr {
            &:hover {
                > td {
                    background-color: darken(#f2f2f4, 5%);
                    cursor: pointer;
                }
            }
        }
    }
}

.table.table-bordered.table-rj {
    border-bottom: none;

    > thead {
        > tr {
            > th {
                border: 1px solid lighten(@color-primary, 8%);
            }
        }
    }
    
    > tbody {
        > tr {
            > td {
                border: 1px solid darken(#f2f2f4, 10%);
            }
        }
    }
}


/*---------------------------------------------------------------------*/
/*  8. FUNNY BOXES
/*---------------------------------------------------------------------*/
.funny-boxes {     
    &:hover {
        cursor: pointer;

        > .funny-boxes-icon {
            color: #fff;
            background-color: @color-primary;
        }
    }

    > .funny-boxes-icon {
        position: relative;
        display: inline-block;
        margin-bottom: 30px;
        width: 75px;
        height: 75px;
        line-height: 90px;
        border: 1px solid @color-primary;
        border-radius: 50%;
        color: @color-primary;

        > i {            
            font-size: 35px;
        }
    }

    > .funny-boxes-text {
        > h4 {
            position: relative;
            padding-bottom: 25px;
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: 0.2em;

            &:after {
                margin-left: -30px;
                left: 50%;
                background-color: @color-primary;
                width: 60px;
                height: 1px;    
                content: "";
                position: absolute;
                display: inline-block;
                max-width: 100%;
                bottom: -1px;
            }
        }

        > p {
            font-size: 18px;

            @media(min-width:768px) {
                font-size: 15px;
            }
        }
    }
}

.funny-boxes.not-right-column {
    padding-bottom: 40px;

    @media(min-width:768px) {
        padding-bottom: 0px;
    }

    &:before {
        @media(min-width:1024px) {
            content: "";
            position: absolute;
            display: inline-block;
            height: 90%;
            width: 1px;
            right: -1px;
            top: 5%;
            background: -moz-linear-gradient(top, fade(@color-primary, 0%) 0%, fade(@color-primary, 90%) 15%, fade(@color-primary, 90%) 85%, fade(@color-primary, 0%) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, fade(@color-primary, 0%)), color-stop(15%, fade(@color-primary, 90%)), color-stop(85%, rgba(221,221,221,1)), color-stop(100%, fade(@color-primary, 0%)));
            background: -webkit-linear-gradient(top, fade(@color-primary, 0%) 0%, fade(@color-primary, 90%) 15%, fade(@color-primary, 90%) 85%, fade(@color-primary, 0%) 100%);
            background: -o-linear-gradient(top, fade(@color-primary, 0%) 0%, fade(@color-primary, 90%) 15%, fade(@color-primary, 90%) 85%, fade(@color-primary, 0%) 100%);
            background: -ms-linear-gradient(top, fade(@color-primary, 0%) 0%, fade(@color-primary, 90%) 15%, fade(@color-primary, 90%) 85%, fade(@color-primary, 0%) 100%);
            background: linear-gradient(to bottom, fade(@color-primary, 0%) 0%, fade(@color-primary, 90%) 15%, fade(@color-primary, 90%) 85%, fade(@color-primary, 0%) 100%);
        }            
    }
}


/*---------------------------------------------------------------------*/
/*  8.1. FUNNY BOXES HOVER EFFECT 1 - FLOAT SHADOW
/*---------------------------------------------------------------------*/
.funny-boxes.float-shadow {
    &:hover {
        > .funny-boxes-icon {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);

            &:before {
                opacity: 1;
                -webkit-transform: translateY(5px);
                transform: translateY(5px);
            }
        }
    }

    > .funny-boxes-icon {
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);

        &:before {
            pointer-events: none;
            position: absolute;
            z-index: -1;
            content: '';
            top: 100%;
            left: 5%;
            height: 10px;
            width: 90%;
            opacity: 0;
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
            -webkit-transition-property: transform, opacity;
            transition-property: transform, opacity;
        }
    }
}


/*---------------------------------------------------------------------*/
/*  8.2. FUNNY BOXES HOVER EFFECT 2 - TRIM
/*---------------------------------------------------------------------*/
.funny-boxes.trim {
    &:hover {
        > .funny-boxes-icon {
            &:before {
                opacity: 1;
            }
        }
    }

    > .funny-boxes-icon {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);

        &:before {
            content: '';
            position: absolute;
            border: #fff solid 4px;
            border-radius: 50%;
            top: 4px;
            left: 4px;
            right: 4px;
            bottom: 4px;
            opacity: 0;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: opacity;
            transition-property: opacity;
        }
    }
}


/*---------------------------------------------------------------------*/
/*  8.3. FUNNY BOXES HOVER EFFECT 3 - OUTLINE INWARD
/*---------------------------------------------------------------------*/
.funny-boxes.outline-inward {
    &:hover {
        > .funny-boxes-icon {
            &:before {
                top: -8px;
                right: -8px;
                bottom: -8px;
                left: -8px;
                opacity: 1;
            }
        }
    }

    > .funny-boxes-icon {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);

        &:before {
            pointer-events: none;
            content: '';
            position: absolute;
            border: @color-primary solid 4px;
            border-radius: 50%;
            top: -16px;
            right: -16px;
            bottom: -16px;
            left: -16px;
            opacity: 0;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: top, right, bottom, left;
            transition-property: top, right, bottom, left;
        }
    }
}


/*---------------------------------------------------------------------*/
/*  8.4. FUNNY BOXES HOVER EFFECT 4 - OUTLINE OUTWARD
/*---------------------------------------------------------------------*/
.funny-boxes.outline-outward {
    &:hover {
        > .funny-boxes-icon {
            &:before {
                top: -8px;
                right: -8px;
                bottom: -8px;
                left: -8px;
                opacity: 1;
            }
        }
    }

    > .funny-boxes-icon {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);

        &:before {
            content: '';
            position: absolute;
            border: @color-primary solid 4px;
            border-radius: 50%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: top, right, bottom, left;
            transition-property: top, right, bottom, left;
        }
    }
}


/*---------------------------------------------------------------------*/
/*  8.5. FUNNY BOXES HOVER EFFECT 5 - BUZZ
/*---------------------------------------------------------------------*/
.funny-boxes.buzz {
    &:hover {
        > .funny-boxes-icon {
            -webkit-animation-name: buzz;
            animation-name: buzz;
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
    }

    > .funny-boxes-icon {
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes buzz {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes buzz {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}


/*---------------------------------------------------------------------*/
/*  9. PIE CHART
/*---------------------------------------------------------------------*/
.pie-chart-item {
    > .pie-chart-content {
        margin: auto;
        width: 210px;
        min-height: 263px;

        > .pie-chart {
            > .percent {
                position: absolute;
                height: 210px;
                width: 210px;
                line-height: 210px;
                border-radius: 100%;
                color: #fff;
                font-size: 60px;
                font-weight: 300;
                letter-spacing: -3px;
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
            }
        }
    }

    .pie-chart-text {
        > h4 {
            padding-top: 20px;
            color: @color-primary;
            font-size: 25px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}

.chart-item.not-right-column.top-column {
    padding-bottom: 40px;

    @media(min-width:1024px) {
        padding-bottom: 0px;
    }
}

.chart-item.not-right-column {
    padding-bottom: 40px;

    @media(min-width:768px) {
        padding-bottom: 0px;
    }
}


/*---------------------------------------------------------------------*/
/*  10. PORTFOLIO
/*---------------------------------------------------------------------*/
.filter-portfolio {
    ul {
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        text-align: center;
        
        > li {
            display: inline-block;
            margin: 0px 3px 10px 3px;
        }
        
        > li.active {
            > a {
                font-weight: 700;
            }
        }
    }
}

.popup-portfolio {
    margin: 0 auto;
    
    .portfolio-item {
        width: 270px;
    
        @media(min-width:600px) {
            width: 320px;
        }
        
        @media(min-width:992px) {
            width: 273px;
        }
        
        @media(min-width:1024px) {
            width: 370px;
        }
    }
}

.portfolio-item {
    margin-bottom: 15px;

    > .inner-content {
        position: relative;
        display: block;
        overflow: hidden;

        &:hover {
            cursor: pointer;

            > .portfolio-content {
                display: block;
            }
        }

        > .portfolio-content {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            background-color: #000;
            opacity: 0.7;
            filter: alpha(opacity=70);
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);

            > .portfolio-detail {
                width: 100%;
                height: 100%;
                
                a {
                    text-align: center;
                    display: table;
                    width: 100%;
                    height: 100%;
                    
                    > .portfolio-text {
                        display: table-cell;
                        vertical-align: middle;
                        padding: 0 15px;
                        color: #fff;
                        letter-spacing: 0.2em;

                        h4 {
                            text-transform: uppercase;
                            font-size: 20px;
                            font-weight: 300;
                            margin-bottom: 10px;
                        }

                        p {
                            text-transform: uppercase;
                            font-size: 14px;
                            font-weight: 300;
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }

        > img {
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }
}


/*---------------------------------------------------------------------*/
/*  10.1. PORTFOLIO HOVER EFFECT 1 - GROW 
/*---------------------------------------------------------------------*/
.portfolio-item.grow {
    > .inner-content {
        &:hover {
            > img {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }
}


/*---------------------------------------------------------------------*/
/*  10.2. PORTFOLIO HOVER EFFECT 2 - GROW ROTATE
/*---------------------------------------------------------------------*/
.portfolio-item.grow-rotate {
    > .inner-content {
        &:hover {
            > img {
                -webkit-transform: scale(1.2) rotate(4deg);
                transform: scale(1.2) rotate(4deg);
            }
        }
    }
}


/*---------------------------------------------------------------------*/
/*  10.3. PORTFOLIO HOVER EFFECT 3 - SHRINK
/*---------------------------------------------------------------------*/
.portfolio-item.shrink {
    > .inner-content {
        &:hover {
            > img {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }

        > img {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
}


/*---------------------------------------------------------------------*/
/*  10.4. PORTFOLIO HOVER EFFECT 4 - SHRINK ROTATE
/*---------------------------------------------------------------------*/
.portfolio-item.shrink-rotate {
    > .inner-content {
        &:hover {
            > img {
                -webkit-transform: scale(1.1) rotate(4deg);
                transform: scale(1.1) rotate(4deg);
            }
        }

        > img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
    }
}


/*---------------------------------------------------------------------*/
/*  10.5. PORTFOLIO HOVER EFFECT 5 - SLIDE IN LEFT
/*---------------------------------------------------------------------*/
.portfolio-item.slide-in-left {
    > .inner-content {
        &:hover {
            > .portfolio-content {
                -webkit-transform: translateX(0%);
                transform: translateX(0%);
            }
        }

        > .portfolio-content {
            display: block;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }
}


/*---------------------------------------------------------------------*/
/*  10.6. PORTFOLIO HOVER EFFECT 6 - POP
/*---------------------------------------------------------------------*/
.portfolio-item.pop {
    > .inner-content {
        &:hover {
            > img {
                -webkit-animation-name: pop;
                animation-name: pop;
                -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
            }
        }

        > img {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }
}

@-webkit-keyframes pop {
    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pop {
    50% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/*---------------------------------------------------------------------*/
/*  10.7. PORTFOLIO HOVER EFFECT 7 - POP ROTATE
/*---------------------------------------------------------------------*/
.portfolio-item.pop-rotate {
    > .inner-content {
        &:hover {
            > img {
                -webkit-animation-name: pop-rotate;
                animation-name: pop-rotate;
                -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
            }
        }

        > img {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }
}

@-webkit-keyframes pop-rotate {
    50% {
        -webkit-transform: scale(1.3) rotate(4deg);
        transform: scale(1.3) rotate(4deg);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pop-rotate {
    50% {
        -webkit-transform: scale(1.3) rotate(4deg);
        transform: scale(1.3) rotate(4deg);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/*---------------------------------------------------------------------*/
/*  10.8. PORTFOLIO HOVER EFFECT 8 - PUSH
/*---------------------------------------------------------------------*/
.portfolio-item.push {
    > .inner-content {
        &:hover {
            > img {
                -webkit-animation-name: push;
                animation-name: push;
                -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
            }
        }

        > img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
    }
}

@-webkit-keyframes push {
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

@keyframes push {
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}


/*---------------------------------------------------------------------*/
/*  10.9. PORTFOLIO HOVER EFFECT 9 - PUSH ROTATE
/*---------------------------------------------------------------------*/
.portfolio-item.push-rotate {
    > .inner-content {
        &:hover {
            > img {
                -webkit-animation-name: push-rotate;
                animation-name: push-rotate;
                -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
            }
        }

        > img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
    }
}

@-webkit-keyframes push-rotate {
    50% {
        -webkit-transform: scale(1.1) rotate(4deg);
        transform: scale(1.1) rotate(4deg);
    }

    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}

@keyframes push-rotate {
    50% {
        -webkit-transform: scale(1.1) rotate(4deg);
        transform: scale(1.1) rotate(4deg);
    }

    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
}


/*---------------------------------------------------------------------*/
/*  11. PRICING TABLES
/*---------------------------------------------------------------------*/
.pricing-table {
    .pricing-wrapper {
        > .pricing-column {
            > .plan-title {
                display: block;
                background-color: #1d1d1d;
                color: #fff;

                > h2 {
                    display: block;
                    margin: 0;
                    height: 74px;
                    line-height: 74px;
                    background-color: @color-primary;
                    color: #fff;
                    font-size: 30px;
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }

                > .pricing-box {
                    padding: 30px;
                    height: 216px;
                    border-bottom: 3px solid @color-primary;

                    > .price {
                        position: relative;
                        display: inline-block;
                        padding: 0 0 0 10px;
                        color: #fff;
                        font-size: 100px;
                        font-weight: 300;
                        line-height: 100px;

                        > .symbol {
                            position: absolute;
                            top: -25px;
                            left: 0;
                            color: #fff;
                            font-size: 22px;
                            font-weight: 300;
                        }
                    }

                    > .month {
                        position: relative;
                        display: inline-block;
                        bottom: -0px;
                        left: 0px;
                        font-size: 14px;
                        font-weight: normal;
                        color: #fff;
                    }

                    > .price-info {
                        margin-top: 20px;
                        font-size: 13px;
                        font-style: italic;
                        color: #aaa;
                    }
                }
            }

            > .item-list {
                list-style: none;
                padding: 0;
                margin: 0;
                background-color: #fff;

                > li {
                    display: block;
                    padding: 20px 15px;
                    font-size: 16px;
                    list-style-type: none;
                    border-right: 1px solid #e8e8e8;
                    border-bottom: 1px solid #e8e8e8;
                    border-left: 1px solid #e8e8e8;
                }
            }

            > .plan-footer {
                background-color: #f6f6f6;
                padding: 20px 10px;
                border-right: 1px solid #e8e8e8;
                border-bottom: 1px solid #e8e8e8;
                border-left: 1px solid #e8e8e8;
            }
        }
    }

    .pricing-wrapper.not-right-column {
        margin-bottom: 50px;

        @media(min-width:1024px) {
            margin-bottom: 0px;
        }
    }
}


/*---------------------------------------------------------------------*/
/*  11.1 PRICING TABLES - STYLE ONE
/*---------------------------------------------------------------------*/
.pricing-table.style-one {
    
}


/*---------------------------------------------------------------------*/
/*  11.2 PRICING TABLES - STYLE TWO
/*---------------------------------------------------------------------*/
.pricing-table.style-two {
    .pricing-wrapper {
        @media(min-width:768px) {
            padding: 0px;
            box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
        }

        > .pricing-column {
            > .item-list {
                > li {
                    @media(min-width:768px) {
                        border-right: none;
                        border-left: none;
                    }
                }
            }

            > .plan-footer {
                @media(min-width:768px) {
                    border-right: none;
                    border-left: none;
                }
            }
        }
    }
}


/*---------------------------------------------------------------------*/
/*  11.3 PRICING TABLES - STYLE THREE
/*---------------------------------------------------------------------*/
.pricing-table.style-three {
    .pricing-wrapper {
        @media(min-width:768px) {
            padding: 0px;
            box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
        }

        @media(min-width:1024px) {
            margin-top: 25px;
        }
    }

    .pricing-wrapper.recomended {
        @media(min-width:1024px) {
            margin-top: 1px;
        }
        
        > .pricing-column {
            > .item-list {
                > li {
                    @media(min-width:768px) {
                        border-right: none;
                        border-left: none;
                    }
                }
            }

            > .plan-footer {
                @media(min-width:768px) {
                    border-right: none;
                    border-left: none;
                }

                @media(min-width:1024px) {
                    padding: 32px 10px;
                }
            }
        }
    }
}


/*---------------------------------------------------------------------*/
/*  11.4 PRICING TABLES - STYLE FOUR
/*---------------------------------------------------------------------*/
.pricing-table.style-four {
    .pricing-wrapper {
        @media(min-width:768px) {
            padding: 0px;
            box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
        }

        > .pricing-column {
            > .item-list {
                > li {
                    @media(min-width:768px) {
                        border-right: none;
                        border-left: none;
                    }

                    > i {
                        font-size: 20px;
                    }

                    > i.fa-check {
                        color: #7ea95e;
                    }

                    > i.fa-times {
                        color: #8d1c31;
                    }
                }
            }

            > .plan-footer {
                @media(min-width:768px) {
                    border-right: none;
                    border-left: none;
                }
            }
        }
    }

    .pricing-wrapper.features {
        box-shadow: none;

        > .pricing-column {
            > .item-list {
                border-top: 3px solid @color-primary;
                margin-top: 287px;
                box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
            }
        }
    }
}


/*---------------------------------------------------------------------*/
/*  11.5 PRICING TABLES - STYLE FIVE
/*---------------------------------------------------------------------*/
.pricing-table.style-five {
    .pricing-wrapper {
        > .pricing-column {
            border-top: 6px solid @color-primary;
            
            > .plan-title {
                > h2 {
                    background-color: #1d1d1d;
                }
                
                > .pricing-box {
                    height: auto;
                    padding: 0px 15px 25px 15px
                }
            }
            
            > .item-list {
                background-color: #f9f9f9;

                > li {
                    &:nth-child(odd) {
                        background-color: #e5e5e5;
                    }
                }
            }
            
            > .plan-footer {
                padding: 0px;
                background-color: @color-primary;
                border-right: 1px solid darken(@color-primary, 2%);
                border-bottom: 1px solid darken(@color-primary, 2%);
                border-left: 1px solid darken(@color-primary, 2%);
                
                a.btn {
                    width: 100%;
                    padding-top: 18px;
                    padding-bottom: 18px;
                    border: none;
                }
            }
        }
    }
}


/*---------------------------------------------------------------------*/
/*  11.6 PRICING TABLES - STYLE SIX
/*---------------------------------------------------------------------*/
.pricing-table.style-six {
    .pricing-wrapper {
        @media(min-width:768px) {
            padding: 0px;
            box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
        }

        > .pricing-column {
            border-top: 6px solid @color-primary;
            
            > .plan-title {
                > h2 {
                    background-color: #1d1d1d;
                }
                
                > .pricing-box {
                    height: auto;
                    padding: 0px 15px 25px 15px
                }
            }
            
            > .item-list {
                background-color: #f9f9f9;
                
                > li {
                    @media(min-width:768px) {
                        border-right: none;
                        border-left: none;
                    }
                    
                    &:nth-child(odd) {
                        background-color: #e5e5e5;
                    }
                }
            }

            > .plan-footer {
                padding: 0px;
                background-color: @color-primary;
                border-right: 1px solid darken(@color-primary, 2%);
                border-bottom: 1px solid darken(@color-primary, 2%);
                border-left: 1px solid darken(@color-primary, 2%);
                
                @media(min-width:768px) {
                    border-right: none;
                    border-left: none;
                }
                
                a.btn {
                    width: 100%;
                    padding-top: 18px;
                    padding-bottom: 18px;
                    border: none;
                }
            }
        }
    }
}


/*---------------------------------------------------------------------*/
/*  12. TABULAR CONTENT
/*---------------------------------------------------------------------*/
.tabular-content {
    position: relative;
    background-color: transparent; 
    border: none;

    > ul.nav-tabs {
        border: none;

        > li {
            > a {
                background-color: #fcfcfc;
                color: #222;
                font-size: 14px;
                border: 1px solid #ddd;
                border-top: 5px solid #ddd;
                padding: 10px 25px;

                &:hover {
                    border: 1px solid #ddd;
                    border-top: 5px solid #ddd
                }
            }
        }

        > li.active {
            > a {
                background-color: #fff;
                font-weight: 700;
                border-top: 5px solid @color-primary;
                border-bottom: 1px solid #fff;
            }
        }
    }

    > .tab-content {
        background-color: #fff;
        border: 1px solid #ddd;;
        border-radius: 5px;

        > .tab-pane {
            > p {
                margin-bottom: 0px;
                padding: 15px;
                font-size: 14px;
                text-align: left;
            }
        }
    }
}


/*---------------------------------------------------------------------*/
/*  12.1. TABULAR CONTENT - STYLE ONE
/*---------------------------------------------------------------------*/
.tabular-content.style-one {
    > .tab-content {
        border-top-left-radius: 0px;
    }
}


/*---------------------------------------------------------------------*/
/*  12.2. TABULAR CONTENT - STYLE TWO
/*---------------------------------------------------------------------*/
.tabular-content.style-two {
    text-align: center;

    > ul.nav-tabs {
        display: inline-block;
        margin-bottom: -5px;
    }

    > .tab-content {
        border: none;
        border-top: 1px solid #ddd;
        border-radius: 0px;
    }
}


/*---------------------------------------------------------------------*/
/*  12.3. TABULAR CONTENT - STYLE THREE
/*---------------------------------------------------------------------*/
.tabular-content.style-three {
    background-color: #f5f5f5; 
    border: 1px solid #ddd;
    border-radius: 5px;

    > ul.nav-tabs {
        padding: 15px 15px 0px 15px;
    }

    > .tab-content {
        border: none;
        border-top: 1px solid #ddd;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
}


/*---------------------------------------------------------------------*/
/*  12.4. TABULAR CONTENT - STYLE FOUR
/*---------------------------------------------------------------------*/
.tabular-content.style-four {
    background-color: #f5f5f5; 
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;

    > ul.nav-tabs {
        display: inline-block;
        margin-bottom: -5px;
        padding: 15px 15px 0px 15px;
    }

    > .tab-content {
        border: none;
        border-top: 1px solid #ddd;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
}

