@import "00_variables";

//---------------------------------------
//---------------------------------------
//       Misc
//---------------------------------------
//---------------------------------------
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: @color-body-bg;
}

a,
li,
.btn {
    font-weight: normal;
    font-size: @fontsize-normal;
}

img {
    max-width: 100%;
    height: auto;

    .max768{
        max-width: 768px;
    }
}

.hideon-breakpoint1{
    @media(max-width: @breakpoint1) {
        display: none;
    }
}

.hideon-breakpoint2{
    @media(max-width: @breakpoint2) {
        display: none;
    }
}


//----  Page loader  ----// 
#page-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    .preload {
        width: 128px;
        height: 128px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -64px;
        margin-left: -64px
    }
}

.spa-text-shadow{
    text-shadow: @shadow-text-standard;
}

.spa-box-shadow{
    box-shadow: @shadow-box-standard;
}



//---------------------------------------
//       Common mixins
//---------------------------------------


.noPadOrMarg(){
    margin: 0;
    padding: 0;
}

.noPadOrMargH(){
    margin: auto 0;
    padding: auto 0;
}

.noPadOrMargV(){
    margin: auto 0;
    padding: auto 0;
}

.h1_in_boxes_mixin(){
    font-size: @fontsize-normal;
    .font-bold();
    margin-bottom: 0.6em;
    color: @color-text-primary;
}

//---------------------------------------
//---------------------------------------
//       Text  
//---------------------------------------
//---------------------------------------

body,
html {
    .font-regular();
    font-size: @fontsize-base;
    @media(max-width: @breakpoint1) {
        font-size: @fontsize-base-m;
    }
}

body {
    font-size: @fontsize-normal;
    font-weight: normal;
    color: @color-text-primary;
}

li {
    margin-bottom: 0.75%;
}


//---------------------------------------
//---------------------------------------
//       Navbar      
//---------------------------------------
//---------------------------------------
@menu-standardmargins: 15px;
@menu-heights: 60px;


.navbar.navbar-fixed-top {
    margin: 0;
    border: 0;
    min-height: @menu-heights;
    background-color: @color-topcontainer;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
    @media(max-width: @breakpoint1) {
        position: relative;
    }

    &.navbar-inverse{
        background-image: none;
    }

    /* fixes double scrollbar */
    & .navbar-collapse {
        max-height: none;
    }
    >.container {
        width: 100%;
        .noPadOrMarg();
    }

    .navbar-brand-container {
        @media(max-width: @breakpoint1) {
            margin-top: @menu-standardmargins;
            margin-bottom: @menu-standardmargins;
        }
    }
    .navbar-brand {
        color: @color-nav-brand;
        font-size: 22px;
        text-decoration: none;
        text-shadow: none;
        letter-spacing: 0.1em;
        padding: 0px;
        margin: 0 @menu-standardmargins 0 @menu-standardmargins;
        word-break: keep-all;
        line-height: @menu-heights;
        height: @menu-heights;
        
        @media(max-width: @breakpoint1) {
            float: none;
            height: 0px;
            line-height: @menu-heights/2;
        }
        &:hover {
            color: @color-nav-brand-hover;
        }
    }
    /* Hamburger for mobile */
    .navbar-toggle {
        margin-top: 12px;
        margin-right: @menu-standardmargins;
        background-color: @color-hamburger-bg;
        color: @color-hamburger-color;
        border-color: @color-hamburger-border;
        float: right;
        .icon-bar {
            background-color: @color-hamburger-color;
        }
    }
    .navbar-nav {
        /* navbar-nav-normal and navbar-nav-dropdown*/

        >.active>a, >.open>a{
            background-image: none;
            box-shadow: none;
        }

       
        >li {
            margin-bottom: 0.0%;

            >a {
                .font-regular();
                text-shadow: none;
                color: @color-anchormenu-text;
                text-decoration: none;
                font-size: 18px;
                text-transform: none;
                height: @menu-heights;
                line-height: @menu-heights;
                padding-top: 0px;
                padding-bottom: 0px;

                // When hamburger
                @media(max-width: @breakpoint1) {
                    height: auto;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    line-height: 20px;
                    padding: 10px @menu-standardmargins;
                    margin-left: -@menu-standardmargins;
                }

                &:hover {
                    background-color: @color-anchormenu-bg-hover;
                    color: @color-anchormenu-text-hover;

                    // When hamburger
                    @media(max-width: @breakpoint1) {
                        color: @color-hamburger-hover-color-m;
                        background-color: @color-hamburger-hover-bg-m;
                    }
                }
            }
        }

        
        /* anchor menu */
        &.navbar-nav-normal {
           
            float: right;
            background-color: @color-anchormenu-bg;

            // When hamburger
            @media(max-width: @breakpoint1) {
                margin: 10px -@menu-standardmargins 10px -@menu-standardmargins;
                width: 100%;
                float: disabled;
            }

            >li.active {
                a,
                a:hover {
                    background-color: @color-anchormenu-bg-active;
                    color: @color-anchormenu-text-active;
                }
            }
        }
        &.navbar-nav-dropdown {

            .noPadOrMarg();
            float: left;
            >li {
                background-color: @color-hamburger-bg;
                color: @color-hamburger-color;

                &:hover {
                    >ul.dropdown-menu {
                        >li a:hover {
                            background-color: @color-hamburger-item-hover-bg;
                            color: @color-hamburger-item-hover-color;
                            background-image: none;
                        }
                    }
                }
                >.dropdown-toggle {
                    display: block;
                    border-right: 1px solid @color-hamburger-border;
                    color: @color-hamburger-color;
                    font-size: @fontsize-normal;
                }
                >.dropdown-toggle:hover {
                    color: @color-hamburger-hover-color;
                    background-color: @color-hamburger-hover-bg;
                    border-right: 1px solid @color-hamburger-hover-border;
                }
                >ul.dropdown-menu {
                    background-color: @color-hamburger-item-bg;
                    color: @color-hamburger-item-color;
                    border: none;
                    >li a {
                        color: @color-hamburger-item-color;                        
                        font-size: @fontsize-dropdownmenu;
                        padding-left: @menu-standardmargins;
                        text-decoration: none;
                        &:hover{
                            
                             background-color: @color-hamburger-item-hover-bg;
                        }
                    }
                }
            }
            /* When mouse moves out from dropdown parent*/
            >.open>a {
                background-color: @color-hamburger-hover-bg;
                color: @color-hamburger-hover-color;
                border-right: 1px solid @color-hamburger-hover-border;
            }
        }
    }
}


//---------------------------------------
//---------------------------------------
//       Sections & intro-section      
//---------------------------------------
//---------------------------------------

//----  default section  ----// 
.section {
    
    position: relative;
    width: 100%;
    
    background-color: @color_section;

    &.section2{
        background-color: @color_section2;
    }

    
    /* .section-container */
    &-container {
        position: relative;
        
        padding-top: @topmagin-section;
        padding-bottom: @bottommagin-section;
        @media(max-width: @breakpoint1) {
            padding-top: @vmargin-standard-m;
            padding-bottom: @vmargin-standard-m;
        }
    }

    &.fillheight{
        height: 100%;            
        background-attachment: fixed;
    }
        
       

    &-title{

        :last-child{
            margin-bottom: 0;
        }
        
        .section-line{
            margin-top: 2.2em;
        }
    }

    &-line {
        display: block;
        margin: 0 auto 0 auto;
        width: 50px;
        height: 1px;
        background-color: @color-divider-line;

        &.full {
            width: 100%;
        }
    }

    .jumbotron{
        background-color: @color-jumbotron-bg;
        margin:0;
        
        &-off{
            background: none;
            padding: 0;
        }
    }

    &.overlay {
        &:before {
            position: absolute;
            content: " ";
            width: 100%;
            height: 100%;
            background: @color-overlay;
        }
    }
}




//---------------------------------------
//       section-intro      
//---------------------------------------
.section{
    
    /* section-intro */
    &-intro{

        color: @color-intro-text;
        background-color: @color_intro;
        word-break: normal;

        /* section-intro-container */ 
        &-container{
            position: relative;
            
            padding-top: @topmargin-section-intro;
            padding-bottom: @bottommargin-section-intro;

            @media(max-width: @breakpoint1) {
                padding-top: @topmargin-section-intro-m;
                padding-bottom: @bottommargin-section-intro-m;
            }
        }

        &.vertical-center{
            display: table;

            .section-inner{
                display: table-cell;
                vertical-align: middle;
            }
        }


        /* two-col-intro */
        .two-col-intro-flex{
            display: flex;
            align-items: center;

            @media(max-width: @breakpoint2) {
                display: inline-block;
                clear: both;
            }
        }

        .two-col-intro-col02{
            margin: 0px auto;

            @media(max-width: @breakpoint2) {}
            @media(max-width: @breakpoint1) {
                display: none;
            }
        }

        .two-col-intro-col01{

            h1{
                line-height: 1em;
                margin: 0 0 0.3em 0;
                word-break: normal;
            }
        }
    }
}

//---------------------------------------
//       bg-handling     
//---------------------------------------

.bgimage {

    background-repeat: no-repeat;
    background-position: center center;
    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    @media(min-width:1280px) {
        background-attachment: fixed;
    }
}

.bgpattern {

    &-horizontal{
        background-repeat: repeat-x;
    }

    &-full{
        background-repeat: repeat;

        @media(min-width:1280px) {
            background-attachment: fixed;
        }
    }
}



//--------------------------------------------------
//--------------------------------------------------
//       MARGINS                      
//--------------------------------------------------
//--------------------------------------------------


.topmargin-large {
    margin-top: @vmargin-large; 
    @media(max-width: @breakpoint1) {
        margin-top: @vmargin-large-m;
    }
}
.topmargin-standard {
    margin-top: @vmargin-standard; 
    @media(max-width: @breakpoint1) {
        margin-top: @vmargin-standard-m;
    }
}
.topmargin-small {
    margin-top: @vmargin-small; 
    @media(max-width: @breakpoint1) {
        margin-top: @vmargin-small-m;
    }
}
.topmargin-mikro {
    margin-top: @vmargin-mikro; 
    @media(max-width: @breakpoint1) {
        margin-top: @vmargin-mikro-m;
    }
}
.topmargin-zero {
    margin-top: 0;               
}

.vmargin-large {
    margin: @vmargin-large 0 @vmargin-large 0;
    @media(max-width: @breakpoint1) {
        margin: @vmargin-large-m 0 @vmargin-large-m 0;
    }
}

.vmargin-standard {
    margin: @vmargin-standard 0 @vmargin-standard 0;
    @media(max-width: @breakpoint1) {
        margin: @vmargin-standard-m 0 @vmargin-standard-m 0;
    }
}

.vmargin-small {
    margin: @vmargin-small 0 @vmargin-small 0;
    @media(max-width: @breakpoint1) {
        margin: @vmargin-small-m 0 @vmargin-small-m 0;
    }
}
.vmargin-mikro {
    margin: @vmargin-mikro 0 @vmargin-mikro 0;
    @media(max-width: @breakpoint1) {
        margin: @vmargin-mikro-m 0 @vmargin-mikro-m 0;
    }
}
.vmargin-zero {
    margin: 0;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    @media(max-width: @breakpoint2) {
        &:not(:first-child) {
            margin-top: @vmargin-standard-m;
        }
    }
}


//--------------------------------------------------
//--------------------------------------------------
//       CONTENT BOXES                      
//--------------------------------------------------
//--------------------------------------------------

.content-boxes {
    
    .content-boxes-thumb{

        padding: 0 20px 20px 0px;  
        float: left;

        @media(max-width: @breakpoint1){
            float: none;
            max-width: 100px;
        }

    }

    .content-boxes-text {
 
        margin: 0;
        margin-bottom: @margin-paragraph;
        display: block;
        overflow: hidden;

        // if only one box, margin is set to 0
        &:last-of-type{
            margin-bottom: 0;
        }

        p,
        ul,
        ol{
            
            margin-bottom: @margin-paragraph;
          
            &:last-child{
                margin-bottom: 0;
            }
        
        }

    }

    @media(min-width: @breakpoint1) {
        padding-bottom: 0px;
    }
}



//--------------------------------------------------
//       BOXES (Panels % tables)                        
//--------------------------------------------------


.panel, .table, .list-table{
    margin: 0;
    background-color: @color-boxes-bg;
    color: @color-boxes-text;

}

.panel_h1_mixin() {
    font-family: @fontsize-normal;
    display: block;
    margin: 0;
    padding: 15px @hmargin-standard 15px @hmargin-standard;
    background-color: @color-boxes-title-bg;
    color: @color-boxes-title-text;
    font-size: @fontsize-panel-h1;
    border-radius: 0;
}

.panel-simple {
    border: none;
    box-shadow: none;
    background-color: @color-boxes-bg;


    .panel-heading {        
        .panel_h1_mixin();
    }
    .panel-body {
        padding: @padding-panel-standard;
        border: 1px solid @color-border-standard;

        margin: 0;
        >p {
            font-size: inherit;

            &:last-child{
                margin: 0;
            }
        }
    }
}


//----  table  ----// 
.table {
    border-bottom: 1px solid @color-border-standard;
    >thead {
        background-color: @color-table-title-bg;
        >tr {
            >th {
                color: @color-table-title-text;
                font-weight: normal;
                border-bottom: 1px solid @color-border-standard;
            }
        }
    }
    >tbody {
        >tr {
            >td {
                border-top: 1px solid @color-border-standard;
                .font-regular();
            }
        }
    }
}

.table.table-striped {
    >tbody {
        >tr {
            >td {
                background-color: @color-table-striped-bg;
            }
            &:nth-child(even) {
                >td {
                    background-color: @color-table-striped-bg2;
                }
            }
        }
    }
}

.table.table-hover {
    >tbody {
        >tr {
            &:hover {
                >td {
                    background-color: @color-table-hover-bg;
                    cursor: pointer;
                }
            }
        }
    }
}


//----  list-table  ----// 
.list-table {
    .list-table-wrapper {
        >.list-table-column {
            >.list-table-title {
                display: block;
                .panel_h1_mixin();
            }
            >.item-list {
                list-style: none;
                padding: 0;
                margin: 0;
                background-color: @color-list-table-title-bg;
                color: @color-list-table-text;
                >li {
                    display: block;
                    padding: 20px @hmargin-standard;
                    list-style-type: none;
                    border-right: 1px solid @color-border-standard;
                    border-bottom: 1px solid @color-border-standard;
                    border-left: 1px solid @color-border-standard;
                    >p {
                        font-size: inherit;
                    }
                }
            }
        }
    }
}

//----  timeline  ----// 
.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
    &:before {
        @media(min-width: @breakpoint1) {
            content: " ";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            width: 2px;
            margin-left: -1px;
            background-color: @color-border-standard;
        }
    }
    >li {
        position: relative;
        margin-bottom: 40px;
        @media(min-width: @breakpoint1) {
            margin-bottom: 20px;
        }
        &:last-child {
            margin-bottom: 0px;
        }
        &:before,
            &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        >.timeline-panel {
            position: relative;
            width: 100%;
            background-color: @color-timeline-bg;
            border: 1px solid @color-border-standard;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

            @media(min-width: @breakpoint1) {
                float: left;
                width: 44%;
            }

            /*
            &:before {
                @media(min-width: 768px) {
                    content: " ";
                    display: inline-block;
                    position: absolute;
                    top: 26px;
                    right: -15px;
                }
            }
            */
            &:after {
                @media(min-width: @breakpoint1) {
                    content: " ";
                    display: inline-block;
                    position: absolute;
                    top: 27px;
                    right: -14px;
                    border-top: 14px solid transparent;
                    border-right: 0 solid @color-timeline-title-bg;
                    border-bottom: 14px solid transparent;
                    border-left: 14px solid @color-timeline-title-bg;
                }
            }
            >.timeline-heading {
                >img {
                    margin-bottom: 20px;
                }
                >.timeline-title {
                    .font-bold();
                    margin: 0;
                    font-size: @fontsize-panel-h1;
                    color: @color-timeline-title-text;
                    background: @color-timeline-title-bg;
                    padding: 20px;                    
                }
            }
            >.timeline-body {
                padding: @padding-panel-standard;
                
                p,ul,ol{
                    margin-bottom: @margin-paragraph;
               
                    &:last-child{
                        margin-bottom: 0;
                    }
                    &.removeIndent{
                        padding-left: 15px;
                    }
                }

                p,
                li {
                    color: @color-timeline-text;
                }
                li {
                    list-style-type: disc;
                }
            }
        }
        >.timeline-badge {
            display: none;
            @media(min-width: @breakpoint1) {
                display: block;
                z-index: 100;
                position: absolute;
                top: 15px;
                left: 50%;
                width: 50px;
                height: 50px;
                margin-left: -25px;
                border-radius: 50% 50% 50% 50%;
                text-align: center;
                font-size: 50px;
                line-height: 50px;
                color: @color-border-standard;
            }
            @media(min-width:@breakpoint2) {
                top: 0;
                width: 80px;
                height: 80px;
                margin-left: -40px;
                font-size: 80px;
                line-height: 80px;
            }
        }
    }
    >li.timeline-inverted>.timeline-panel {
        @media(min-width: @breakpoint1) {
            float: right;
        }
       
        &:after {
            @media(min-width: @breakpoint1) {
                right: auto;
                left: -14px;
                border-right-width: 14px;
                border-left-width: 0;
            }
        }
    }
}




//----  testimonials  ----// 
.testimonial-item {

    

    &:not(:first-of-type){
        margin: 50px 0 0 0;
    }


    // Type: deafault
    .testimonial-content {

        >.testimonial-content-container{

            position: relative;
            padding: @padding-panel-standard;
            background: @color-testimonial-bg;
            color: @color-testimonial-text; 

            h1 {
                .h1_in_boxes_mixin();
                color: @color-testimonial-text;
            }

            p,ol,ul {
                margin-bottom: @margin-paragraph-small;

                &:last-child {
                    margin-bottom: 0px;
                }
            }

            &:after {
                content: " ";
                display: inline-block;
                position: absolute;
                width: 0;
                height: 0;
                border-left-style: inset;
                border-right-style: inset;
                border-top: 22px solid;
                border-right: 22px solid transparent;
                border-left: 0 solid transparent;
                border-top-color: @color-testimonial-bg;
                left: 100px;
                bottom: -22px;          
            }
        }
    }

    .testimonial-avatar {

        margin-top: 18px;
    
        img {
            float: left;
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }

        .img-thumbnail {
            padding: 2px;
        }
    }

    // testimonial dialog
    &.right, &.left{

        display: table;
        width: 100%;

        &:not(:first-of-type){
            margin: 15px 0 0 0;
        }

        .testimonial-content {
            display: table-cell;
            margin: none;
            padding: 0px 0px 0px 0px;
        }

        >.testimonial-content-container{

            display: table-cell;
            width: 100%;
            margin: none;
            border: none;

            &:after {
                content: " ";
                display: inline-block;
                position: absolute;

            }

        }

        .testimonial-avatar {

            display: table-cell;
            width: 50px; 
            vertical-align: bottom;

            img {
                display: block;
                width: 50px;
                height: auto;
            }

            @media(max-width:@breakpoint1) {
                display: none;
            }
        }
    }
    
    // Type: right
    &.right{

        
        .testimonial-content {
            
            padding-right: 15px;
            padding-left: 15%;
            float: right;
            
            &.full{
                padding-left: 0;
            }
           
           
           >.testimonial-content-container{

               background: @color-testimonial-bg-second;
               
                &:after {
                    bottom: 10px;
                    right: -15px;
                    left: auto;
                    border-top: 15px solid transparent;
                    border-right: 0 solid  @color-testimonial-bg-second;
                    border-bottom: 15px solid transparent;
                    border-left: 15px solid  @color-testimonial-bg-second;
                }
            }
            
        }
    }    


    // Type: left
    &.left{

        .testimonial-content {
            
           padding-left: 15px;
           padding-right: 15%;

           &.full{
                padding-right: 0;
           }
           
           >.testimonial-content-container{

                     
                &:after {
                    bottom: 10px;
                    right: auto;
                    left: -15px;
                    border-top: 15px solid transparent;
                    border-right: 15px solid  @color-testimonial-bg;
                    border-bottom: 15px solid transparent;
                    border-left: 0 solid  @color-testimonial-bg;
                }
            }
        }
    }  
}



//----  infobox  ----// 
.infobox {
    .icon {
        margin: 0.3em 0.3em 0px 0px;
        font-size: 1.4em;
        line-height: 0;
        float: right;
        color: @color-infobox;
        clear: both;
    }
    > .panel {
        color: @color-infobox-text;
        background-color: @color-infobox-bg;
        padding: @padding-panel-extend-v;
        border: 2px solid @color-infobox;
        h1 {
            .h1_in_boxes_mixin();
            color: @color-infobox-text;
        }

        h1.multielements {
            margin-bottom: 0;
        }
       
        p,ol,ul {
            margin-bottom: @margin-paragraph-small;

            &:last-child {
                margin-bottom: 0px;
            }
        }        
    }
}

.infobox.example {
    .icon {
        color: @color-infobox-example;
    }
    > .panel {
        border: 2px solid @color-infobox-example;
        color: @color-infobox-example-text;
        background-color: @color-infobox-example-bg;
        h1 {
            color: @color-infobox-example-text;
        }
    }
}

//--------------------------------------------------
//--------------------------------------------------
//       BUTTONS                     
//--------------------------------------------------
//--------------------------------------------------

a {
    color: @color-links;
    outline: none;
    text-decoration: underline;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
        &:focus {
        outline: none;
        text-decoration: underline;
        color: @color-links-hover;
    }
}


//----  button  ----// 
.btn.btn-rj {
    font-size: 1.25em; //20px
    background-color: @color-btn-bg;
    color: @color-btn-text;
    border-color: @color-btn-border;
    border-width: 2px;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover {
        color: @color-btn-text-hover;
        background-color: @color-btn-bg-hover;
        border-color: @color-btn-border-hover;
    }
    &.inverted {
        background-color: @color-btn-border;
        color: @color-btn-bg;
        &:hover {
            background-color: #fff;
            color: @color-btn-text;
        }
        @media(max-width:@breakpoint1) {
            display: none;
        }
    }
}

.btn.btn-rj.roundarrow {
    text-align: center;
    font-size: 22px;
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

//----  accordion  ----// 
.accordion.accordion-rj {
    .panel-group {

        margin-bottom: 0px;


        >.panel {
            border-color: @color-accordion;
            border-width: 2px;
            -webkit-box-shadow: none;
            box-shadow: none;
            overflow: hidden;
            

            &:not(:last-child){
                margin-bottom: 10px;         
            }

            >.panel-heading {
                padding: 0px;
                >.panel-title {
                    >a {
                        width: 100%;
                        .font-regular();
                        padding: 10px @hmargin-standard;
                        display: inline-block;
                        @media(max-width: @breakpoint1) {
                            padding: 10px @hmargin-standard-m;
                        }
                        // Åpen
                        background-color: @color-accordion;
                        color: @color-accordion-paneltitle-hover;
                        text-decoration: none;
                        &:after {
                            font-family: FontAwesome;
                            content: "\f068";
                            text-decoration: inherit;
                            font-size: 18px;
                            position: absolute;
                            right: @hmargin-standard;
                        }
                        // Lukket
                        &.collapsed {
                            .font-regular();
                            color: @color-accordion-paneltitle-color;
                            background-color: @color-accordion-paneltitle-bg;
                            &:after {
                                content: "\f067";
                                color: @color-accordion-paneltitle-color;
                            }
                            &:hover {
                                .font-regular();
                                background-color: @color-accordion;
                                color: @color-accordion-paneltitle-hover;
                                &:after {
                                    color: @color-accordion-paneltitle-hover;
                                }
                            }
                        }
                    }
                }
            }
            >.panel-collapse {
                >.panel-body {
                    background-color: @color-accordion-panel-bg;
                    padding: 20px @hmargin-standard 15px @hmargin-standard;
                    @media(max-width: @breakpoint1) {
                        padding: 20px @hmargin-standard-m 15px @hmargin-standard-m;
                    }
                    >p {
                        color: @color-accordion-text;
                        margin-bottom: @margin-paragraph-small;
                    }
                }
            }
        }
        .panel+.panel {
            margin-top: 2px;
        }
    }
}

//---- readmore  ----// 

a[data-readmore-toggle],
a[data-readmore] {
    color: @color-links;
    &:hover {
        color: @color-links-hover;
    }
}

//----  spa-menues  ----// 
.spa-menu{

    margin-top: 70px;

    &.type1{

        .menuitem {

            .panel {

                h1 {
                    .font-regular();
                    font-size: 2rem;
                    margin-bottom: 0.6em;
                    color: @color-spa-menu-type1-h1;
                }

                color: @color-spa-menu-type1-color;
                background-color: @color-white;
                padding: 2em 1.5em 2em 1.5em;
                cursor: pointer;
                border: 2px solid @color-btn-border;
                

                &:hover .btn-rj {
                    color: @color-btn-text-hover;
                    background-color: @color-btn-bg-hover;
                }
            }
        }
    }

    &.type2{

        font-size: 1.2rem;

        .btn {
            margin: 0.2em;
            &:not(:first-of-type){
                margin-left: 0.4em;
            }
        }
    }


    &.type3{

        margin-top: 30px;
        font-size: 1.2rem;

        .btn {
            margin: 0px auto;
            text-align: left;
            white-space: normal;  
        }

        .btn:not(:last-child){
            border-bottom: none;             
        }

        .menuitem {
            i{
                float: right;
                line-height: 1.42857143;

                @media(max-width:@breakpoint1) {
                    display: none;
                }
            }
        }
    }
}

//--------------------------------------------------
//--------------------------------------------------
//       Misc components           
//--------------------------------------------------
//--------------------------------------------------

.list_emphasis {
    p {
        .font-light();
        font-size: @fontsize-list-emphasis;
        margin-bottom: @list-emphasis-li-margin-bottom;
    }
    ul,
    ol {
        color: @color-list-emphasis-dots;
        .font-light();
        @media(max-width: @breakpoint1) {
            .font-regular();
            font-size: @fontsize-normal-m;
        }
        li p,
        li span {
            .font-light();
            font-size: @fontsize-list-emphasis;
            color: @color-list-emphasis-text;
        }
        li a {
            .font-light();
            font-size: @fontsize-list-emphasis;
        }
        li {
            font-size: @fontsize-list-emphasis;
            margin-top: @list-emphasis-li-margin-top;
            margin-bottom: @list-emphasis-li-margin-bottom;
        }
    }
}


blockquote {
    .font-light();
    font-size: @fontsize-blockquote;
    line-height: 1.5em;
    color: @color-blockquote;
    border: none;
    text-align: left;
    padding: 0;
    margin-bottom: 0;
    a {
        .font-light();
        font-size: @fontsize-blockquote;
    }
}



//--------------------------------------------------
//--------------------------------------------------
//       VIDEO                
//--------------------------------------------------
//--------------------------------------------------


.videobox {
    margin: 2em 5em 0em 2em;
    @media(max-width: @breakpoint2) {
        text-align: center;
        margin-left: none;
        margin: 0em 0em 0em 0em;
    }
}

//----  vimeovideo  ----// 
.vimeovideo {
    border: solid 1pt @color-border-standard;
}



//----  footer  ----// 
footer.copyright {
    background-color: @color-footer-bg;
    color: @color-footer-color;

    p{
        margin: @fontsize-footer 0rem;
    }

    p, ul li {
        font-size: @fontsize-footer;

        a {
            color: @color-footer-color;
            font-size: 1em;
            &:hover {
                color: @color-footer-color-hover;
            }
        }
    }

    ul {
        margin-top: @fontsize-footer;
    }
}


//--------------------------------------------------
//--------------------------------------------------
//       Slick-theme            
//--------------------------------------------------
//--------------------------------------------------



// Default Variables
// @slick-font-path: "./../fonts/";
@slick-font-family: "FontAwesome";
@slick-loader-path: "./ng1-lib/img/";
@slick-prev-character: "\f0a8";
@slick-next-character: "\f0a9";
@slick-dot-character: "•";
@slick-dot-size: 2rem;
@slick-opacity-default: 0.8;
@slick-opacity-on-hover: 1;
@slick-opacity-not-active: 0.25;


/* Slider */

.slick-loading .slick-list {
    background: #fff url('@{slick-loader-path}ajax-loader.gif') center center no-repeat;
}

.slick-list{
    padding: none;
}


/* remove focus */

.slick-slide {
    overflow: visible;
    &:focus {
        outline: none;
    }
}


/* Icons */


/*
@font-face {

    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('@{slick-font-path}slick.eot');
    src: url('@{slick-font-path}slick.eot?#iefix') format('embedded-opentype'), url('@{slick-font-path}slick.woff') format('woff'), url('@{slick-font-path}slick.ttf') format('truetype'), url('@{slick-font-path}slick.svg#slick') format('svg');
    
}*/


/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover,
    &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        
        &:before {
            opacity: @slick-opacity-default;
        }
    }
    &:hover{
        &:before {
            opacity: @slick-opacity-on-hover;
        }

    }

    &.slick-disabled:before {
        opacity: 0;
    }
}

.slick-prev:before,
.slick-next:before {
    font-family: @slick-font-family;
    font-size: 40px;
    line-height: 1;
    color: @color-carousel-arrow-color;
    opacity: @slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -45px;
    float: left;
    &[dir="rtl"] {
        left: auto;
        right: -45px;
    }
    &:before {
        font-family: @slick-font-family;
        content: @slick-prev-character;
        &[dir="rtl"] {
            content: @slick-next-character;
        }
    }
}

.slick-next {
    right: -45px;
    float: right;
    &[dir="rtl"] {
        left: -45px;
        right: auto;
    }
    &:before {
        content: @slick-next-character;
        &[dir="rtl"] {
            content: @slick-prev-character;
        }
    }
}


/* Dots */

.slick-dotted .slick-slider {
    margin-bottom: 30px;
}


/* my slick */




.slick_container {

    
    
    .slick_default{

        
        border: 1px solid @color-border-standard;
        border-bottom: none;

        background-color: @color-carousel-bg;
        //padding: @padding-panel-standard;
        .slick-slide{
            padding: @padding-panel-standard;
        }
        
    }

}

.slider-nav-container {
    width: 100%;

    padding: 15px @hmargin-standard 15px @hmargin-standard;
    background-color: @color-carousel-nav-bg;
   
   



    .slider-nav {
        display: inline-block;
        position: relative;
        //border: 1px solid #000;
        .slick-dots {
            //border: 1px solid #000;
            position: relative;
            bottom: -25px;
            list-style: none;
            display: block;
            text-align: center;
            padding: 0;
            margin: 0;
            width: 100%;
            top: -1px;
            li {
                //border: 1px solid #0f0;
                position: relative;
                display: inline-block;
                height: 25px;
                width: 20px;
                margin: 0 5px;
                line-height: 25px;
                cursor: pointer;
                button {
                    border: 0;
                    background: transparent;
                    display: block;
                    height: 20px;
                    width: 20px;
                    outline: none;
                    line-height: 0px;
                    font-size: 0px;
                    color: transparent;
                    padding: 5px;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        outline: none;
                        &:before {
                            opacity: @slick-opacity-on-hover;
                        }
                    }
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: @slick-dot-character;
                        width: 20px;
                        height: 20px;
                        font-family: @slick-font-family;
                        font-size: @slick-dot-size;
                        line-height: 20px;
                        text-align: center;
                        color: @color-carousel-dot-color;
                        opacity: @slick-opacity-not-active;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
                &.slick-active button:before {
                    color: @color-carousel-color-active;
                    opacity: @slick-opacity-default;
                }
            }
        }
    }
}

