@import "00_variables";

//--------------------------------------------------
//       readmore (no css)                    
//--------------------------------------------------

.readmore{

    a{
        cursor: pointer;
    }
}


//--------------------------------------------------
//       regnestykkeApp                    
//--------------------------------------------------


.myRegnestykke{
    
    
    .tittel{
        .font-bold();
    }
    
    tr{
        
        vertical-align: bottom;
        
        .singleunderline{
            border-bottom: 1px solid @color-secondary;
        }
        
        .doubleunderline{
            border-bottom: 4px double @color-secondary;
        }
        
        .bold{
            .font-bold();
        }
        
    }
}


//--------------------------------------------------
//       videomenu                    
//--------------------------------------------------


@vm-font-size: 1.3rem;

.videomenu_holder{
   
    .infosection{
        margin: 1.5em 0 0 0;
    }


    .buttonsection{

        margin: 1.5em 0 0 0;

        .btn-rj{
            font-size: @vm-font-size;
        }
    }
} 


//--------------------------------------------------
//       quizApp --> has separated less                
//--------------------------------------------------