@import "00_variables";




p{
    .font-regular();
    font-size: @fontsize-normal;

}


h1 {
    .font-light();
    color: @color-h1;
    font-size: @fontsize-h1;        

    @media(max-width: @breakpoint1) {
        font-size: @fontsize-h1-m;
    }
}


h2 {
    .font-regular();
    color: @color-h2;
    font-size: @fontsize-h2;

    @media(max-width: @breakpoint1) {
        font-size: @fontsize-h2-m;
    }
}

h3 {
    .font-regular();
    color: @color-h3;
    font-size: @fontsize-h3;

    @media(max-width: @breakpoint1) {
        font-size: @fontsize-h3-m;
    }
}


h4 {
    .font-bold();
    color: @color-h4;
    font-size: @fontsize-h4;
    @media(max-width: @breakpoint1) {
        font-size: @fontsize-h4-m;
    }
}

h5 {
    .font-bold();
    color: @color-h5;
    font-size: @fontsize-h5;

    @media(max-width: @breakpoint1) {
        font-size: @fontsize-h5-m;
    }
}



h1,
h2,
h3,
h4,
h5 {
    margin: @margin-headings;

     &.ingress{
        .font-regular();
        color: @color-ingress-type1;
        font-size: @fontsize-ingress-type1;
        line-height: 1.42857143em;
        margin: @margin-ingress-base;

        @media(max-width: @breakpoint1) {
            font-size: @fontsize-ingress-type1-m;
        }
        
    }
}

h4,
h5{
    &.ingress{   
        .font-bold();  
        color: @color-ingress-type2;      
        font-size:  @fontsize-ingress-type2;  

        @media(max-width: @breakpoint1) {
            font-size: @fontsize-ingress-type2-m;
        }   
    }  
}


.content-boxes-text {

    h1,h2,h3,h4,h5{

        margin: @margin-headings-cb;

        &:first-child{
            margin-top: 0;
        }

        &.ingress{                   
            margin: @margin-ingress-base;
        }
    }
 }





//---------------------------------------
//---------------------------------------
//       introtext    
//---------------------------------------
//---------------------------------------





.intro-text-bg-mixin() {
    word-break: normal;
    background: @color-intro-textbg;
    border-radius: @border-radius-intro;
}

p{

    &.introtext{

        color: @color-intro-text;
        font-size: @intro-p;
        .font-regular();

        @media(max-width: @breakpoint1) {
            font-size: @intro-p-m;
            word-break: keep-all;
            margin-top: 20px;
        }
    }

    &.withbg{
        .intro-text-bg-mixin();
        padding: 1.2em;
    }

}

h1 {
    
    &.introtext{
        .font-regular();
        color: @color-intro-headings;
        font-size: @intro-h1;

        @media(max-width: @breakpoint2) {
            font-size: @intro-h1-m;     
            word-break: keep-all;
        }
    }

    &.withbg{
        .intro-text-bg-mixin();
        padding: 0.5em;
    }
}