<div id="{{ hbAnimation_container }}" style="background-color:rgba(255, 255, 255, 1.00); width:{{ hbWidth }}px; height:{{ hbHeight }}px; position:relative; margin:auto;">

  <canvas id="{{ hbCanvas }}" width="{{ hbWidth }}" height="{{ hbHeight }}" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 1.00);"></canvas>

  <div id="{{ hbDom_overlay_container }}" style="pointer-events:none; overflow:hidden; width:{{ hbWidth }}px; height:{{ hbHeight }}px; position: absolute; left: 0px; top: 0px; display: block;"></div>
  
</div>