
<div class="myRegnestykke">

  <div class="tittel">{{ tittel }}</div>
  
  <table width='100%'>
    <tr ng-repeat="linje_item in linjer">
      <td class="{{linje_item.underline==1 ? 'singleunderline' : (linje_item.underline==2 ? 'doubleunderline' : '') }} {{linje_item.bold==1 ? 'bold' : '' }}" ng-bind-html="linje_item.linje"></td>
      <td class="text-right {{linje_item.underline==1 ? 'singleunderline' : (linje_item.underline==2 ? 'doubleunderline' : '') }} {{linje_item.bold==1 ? 'bold' : '' }}" ng-bind-html="linje_item.tall"></td>
    </tr>
    
  </table>
 
</div>


