
<div class="quizApp" ng-class="borderClass">

  
  <div class="icon" ng-if="borderClass!=''"><i class="fa fa-pencil"></i></div>

  <div class="innerWrapper">

      
      
      
      <!-- # section-main -->
      <div ng-class="{ 'section-left': isTwoColQuestion } " id="section-main" ng-style="isTwoColQuestion ? { 'width': leftColWidth + '%'} : ''">

      <div class="quizHeading" ng-show="hasheading" ng-bind-html="heading"></div>

      <div class="text-center">
      <image ng-if="image!=''" ng-src="{{image}}"></image>
      </div>
      
      <div class="q_text"><p ng-bind-html="qText"></p></div>

      <!------------------- mc ----------------------->
      
      <!-- Options -->
      <div ng-if="qType=='mc' || qType=='mc_open'" class="btn-group-vertical options" data-toggle="buttons">

        <label ng-class="['btn', 'myfade', optionArray_item.feedBackColor, {'disabled': qState > 0 }]" ng-repeat="optionArray_item in optionsArray" ng-click="onInputChange_mc($index)">

          <i class="fa {{ optionArray_item.faType}}"></i>
          <span><input name="option_{{data}}" type="{{ type}}" ng-model="optionArray_item.checked" value="{{ $index}}" ><div ng-bind-html="optionArray_item.option"></div></span>

        </label>
        
      </div>
      <!-- // End Options -->
      
      <!------------------- // END mc --------------------- -->
      
      <!------------------- write --------------------- -->
      
      <div class="write" ng-if="qType=='write'">
        <textarea type="text" width="100%" ng-disabled="qState > 0"></textarea>        
      </div>
      
      <!------------------- // END write --------------------- -->
      
      
      <!------------------- Fillin --------------------- -->
      
      <div class="fillin" ng-show="qType=='fillin'">
        <label ng-if="fillin_label!='off'" for="fillin_id">{{ fillin_label }}</label> 
         <input id="fillin_id" type="text" size="{{inputSize}}" ng-disabled="qState > 0" ng-change="onInputChange_fillin()" ng-model="fillin_input" />     
      </div>
      <!------------------- // END Fillin --------------------- -->


    <!------------------- buttonContainer twoCol --------------------- -->
    <div class="buttonContainer" ng-if="isTwoColQuestion" style="float:left">

         
        <div class="alert alert-danger" ng-if="showAlert" role="alert" ng-bind-html="alertText"></div>

        <!-- qButton -->
        <div class="qButton_container" ng-show="show_qButton">

          <button class="btn btn-md btn-rj" ng-click="qButton()" ng-bind-html="qButtonText_holder"></button>
          
        </div>
        <!-- // END qButton -->

        <div ng-if="show_qButton && show_navButton" class="spaceBetweenButtons">&nbsp;</div>
 
        <!-- navButton -->
        <div class="navButton_container" ng-show="show_navButton">
        <button class="btn btn-md btn-rj" ng-click="navFunction()"  ng-bind-html="navButtonText_holder">  </button>
        </div>
        <!-- // END navButton -->

    </div>
    <!------------------- // buttonContainer twoCol --------------------- -->




      
      </div><!-- // #section-main -->
      
     
      
      <!------------------- rightWrongFeedback --------------------- -->

      <div ng-class="isTwoColQuestion ? 'section-right' : 'section-feedback-standard'" class="myfade" ng-hide="qState < 1" ng-style="isTwoColQuestion ? { 'width': rightColWidth + '%'} : ''">
       <div class="rightWrongFeedback"><p ng-bind-html="feedback"></p></div>
       </div>
      <!------------------- // END rightWrongFeedback --------------------- -->

    
      
      
    <!------------------- buttonContainer --------------------- -->
    <div class="buttonContainer" ng-if="!isTwoColQuestion" style="float:right">

         
        <div class="alert alert-danger" ng-if="showAlert" role="alert" ng-bind-html="alertText"></div>

        <!-- qButton -->
        <div class="qButton_container disabled" ng-show="show_qButton">

          <button class="btn btn-md btn-rj" ng-click="qButton()" ng-bind-html="qButtonText_holder"></button>
          
        </div>
        <!-- // END qButton -->
        
        <div ng-if="show_qButton && show_navButton" class="spaceBetweenButtons">&nbsp;</div>
      
        <!-- navButton -->
       <div class="navButton_container" ng-show="show_navButton">
        <button class="btn btn-md btn-rj" ng-click="navFunction()"  ng-bind-html="navButtonText_holder">  </button>
        </div>
        <!-- // END navButton -->

    </div>
    <!------------------- // buttonContainer --------------------- -->

    <div style="clear:both"></div>
    
   
    

  </div><!-- // .innerWrapper -->

</div><!-- //# quizApp panel -->


