/*---------------------------------------------------------------------*/
/* Import skin here:
/*---------------------------------------------------------------------*/

@import "../statics/ng1-lib/angularjs/quizApp/less/default.less";
@import "../statics/ng1-lib/less/default_skin.less";
//@import "../statics/ng1-lib/less/default/old/default_skin_old.less";



/*---------------------------------------------------------------------*/
/* Adjust skin variables here: 
/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/* Import your own less files here:
/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/* write your custom less here:
/*---------------------------------------------------------------------*/


#elements-intro {

    //individual justifications of overlay
    &.overlay:before{
        background: fade(@color-overlay, 60%);
    }
}

#intro_type2{
    background-image: none;
}



