@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');


//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------
//  FONTS                        
//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------


@font-family-primary: 'Lato', sans-serif;

.font-light() {
    font-family: @font-family-primary;
    font-weight: 300;
}

.font-regular() {
    font-family: @font-family-primary;
    font-weight: 400;
}

.font-bold() {
    font-family: @font-family-primary;
    font-weight: 700;
}

.font-black() {
    font-family: @font-family-primary;
    font-weight: 900;
}


//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------
//  COLORS                        
//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------


// colors: standards 
@color-primary: #38a6db;
@color-secondary: #054977;
@color-contrast: #ff6137;

@color-black: #000;
@color-white: #fff;

@color-projectblack: @color-black;
@color-projectwhite: @color-white;
@color-projectgrey: darken(@color-projectwhite, 3%);

// color slots, is not used in project
@color-1:#ffffff;
@color-2:#ffffff;
@color-3:#ffffff;
@color-4:#ffffff;
@color-5:#ffffff;


/* 
@color-primary default:
Section headings, Overlay, Panel heading backgrounds, Footer, Anchormenu hover

@color-secondary default:
Hamburger over, Anchormenu text, Intro-text

*/

//--------------------------------------------------
//  COLORS | Misc
//--------------------------------------------------

@color-body-bg: @color-projectwhite;

@color_intro: @color-projectwhite;
@border-radius-intro: 5px;

@color_section: @color-projectwhite;
@color_section2: darken(@color-projectwhite, 3%);

@color-border-standard: darken(@color-projectgrey, 10%);
@color-overlay: fade(@color-primary, 50%);



//--------------------------------------------------
// COLORS | nav-bar, header & footer   
//--------------------------------------------------



@color-nav-brand: @color-secondary;
@color-nav-brand-hover: @color-primary;

@color-hamburger-primary: @color-projectgrey;
@color-hamburger-secondary: @color-secondary;
@color-hamburger-text: @color-white;

// normal
@color-hamburger-bg: @color-hamburger-primary;
@color-hamburger-color: @color-hamburger-secondary;
@color-hamburger-border: darken(@color-hamburger-bg, 7%);


// hover
@color-hamburger-hover-bg: @color-hamburger-secondary;
@color-hamburger-hover-color: @color-hamburger-text;
@color-hamburger-hover-border: darken(@color-secondary, 7%);

@color-hamburger-hover-bg-m: darken(#fff, 3%);
@color-hamburger-hover-color-m: @color-secondary;


// items normal
@color-hamburger-item-bg: @color-hamburger-hover-bg;
@color-hamburger-item-color: @color-hamburger-hover-color;

// items hover
@color-hamburger-item-hover-bg: darken(@color-hamburger-item-bg, 10%);
@color-hamburger-item-hover-color: @color-hamburger-hover-color;


// anchor menu & topcontainer
@color-topcontainer: @color-projectwhite;

@color-anchormenu-bg: @color-topcontainer;
@color-anchormenu-bg-hover: @color-primary;
@color-anchormenu-text: @color-secondary;
@color-anchormenu-text-hover: @color-white;

// footer
@color-footer-bg: @color-primary;
@color-footer-color: @color-white;
@color-footer-color-hover: @color-secondary;


//--------------------------------------------------
// COLORS | buttons
//--------------------------------------------------

@color-btn-primary: @color-contrast;
@color-btn-text: @color-secondary;

@color-links: @color-contrast;
@color-links-hover: darken(@color-links, 20%);

@color-accordion: @color-btn-primary;
@color-accordion-panel-bg: @color-projectwhite;

@color-accordion-paneltitle-bg: @color-projectwhite;
@color-accordion-paneltitle-color: @color-btn-text;
@color-accordion-paneltitle-hover: @color-white;

@color-accordion-text: @color-text-primary;

@color-spa-menu-type1-h1: @color-secondary;
@color-spa-menu-type1-color: @color-secondary;




//--------------------------------------------------
// COLORS | components
//--------------------------------------------------

@color-boxes-title-bg: @color-primary;
@color-boxes-title-text: @color-white;
@color-boxes-bg: @color-white;
@color-boxes-text: @color-text-primary;

@color-table-title-bg: @color-boxes-title-bg;
@color-table-title-text: @color-boxes-title-text;

@color-table-striped-bg: @color-boxes-bg;
@color-table-striped-bg2: darken(@color-table-striped-bg, 4%);

@color-table-hover-bg: darken(@color-table-striped-bg2, 4%);

@color-list-table-title-bg: @color-boxes-bg;
@color-list-table-text: @color-boxes-text;

@color-timeline-title-bg: @color-boxes-title-bg;
@color-timeline-title-text: @color-boxes-title-text;
@color-timeline-bg: @color-boxes-bg;
@color-timeline-text: @color-boxes-text;

@color-testimonial-bg: @color-primary;
@color-testimonial-text: @color-white;

@color-testimonial-bg-second: darken(@color-testimonial-bg, 20%);

@color-infobox: #ffc837;
@color-infobox-bg: @color-boxes-bg;
@color-infobox-text: @color-text-primary;

@color-infobox-example: #5d8c02;
@color-infobox-example-bg: @color-boxes-bg;
@color-infobox-example-text: @color-text-primary;

@color-divider-line: @color-secondary;

@color-carousel-bg: @color-white;
@color-carousel-nav-bg: @color-primary;
@color-carousel-arrow-color: @color-white;
@color-carousel-dot-color: @color-white;
@color-carousel-color-active: @color-white;


//--------------------------------------------------
// COLORS | Lists & Misc
//--------------------------------------------------

@color-list-emphasis-dots: @color-contrast;
@color-list-emphasis-text: @color-text-primary;

@color-blockquote: @color-contrast;



//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------
//       MARGINS                        
//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------

// these are used to set vmargin and topmargin: 
// .vmargin-standard = top & bottom
// .topmargin-standard = only top (this variable is only in 01_main)


@vmargin-large: 8rem;
@vmargin-large-m: @vmargin-large/2;
@vmargin-standard: @fontsize-normal*3.5;
@vmargin-standard-m: @vmargin-standard/2;
@vmargin-small: @fontsize-normal*2;
@vmargin-small-m: @vmargin-small/2;
@vmargin-mikro: @fontsize-normal;
@vmargin-mikro-m: @vmargin-mikro/2;

// You may also use .topmargin-zero and .vmargin-zero to remove margins

@hmargin-standard: 30px;
@hmargin-standard-m: 15px;

// section margin

@topmagin-section: @hmargin-standard*3;
@topmagin-section-m: @hmargin-standard-m*3;

@bottommagin-section: @hmargin-standard*6;
@bottommagin-section-m: @hmargin-standard-m*6;

@topmargin-section-intro: @topmagin-section;
@topmargin-section-intro-m: @topmagin-section-m;

@bottommargin-section-intro: @topmargin-section-intro;
@bottommargin-section-intro-m: @topmargin-section-intro-m;

@list-emphasis-li-margin-top: 0.5rem;
@list-emphasis-li-margin-bottom: 1rem;

// Paddings
@padding-panel-standard: 1.5rem 1.5rem;
@padding-panel-extend-v: 2rem 1.5rem;


//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------
//       MISC                        
//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------


@shadow-text-standard: 1px 1px 4px rgba(0, 0, 0, 0.55);
@shadow-box-standard: 3px 3px 4px rgba(0, 0, 0, 0.10);

@breakpoint1: 768px;
@breakpoint2: 992px;
@breakpoint3: 1200px;
@breakpoint4: 1280px;




//------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------
//                                     TEXTSYSTEM
//------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------



//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------
//  COLORS                        
//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------

@color-text-primary: @color-secondary;

@color-headings-type1: @color-primary;
@color-headings-type2: @color-primary;
@color-h1: @color-headings-type1;
@color-h2: @color-headings-type1;
@color-h3: @color-headings-type1;
@color-h4: @color-headings-type2;
@color-h5: @color-headings-type2;

@color-ingress-type1: @color-text-primary;
@color-ingress-type2: @color-ingress-type1;

@color-intro-headings: @color-secondary;
@color-intro-text: @color-secondary;
@color-intro-textbg: fade(@color-projectwhite, 90%);


//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------
//       TEXTSIZES                        
//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------


/* On fontsize-base = 16px:

1.125rem = 18px
1.250rem = 20px
1.313rem = 21px
1.375rem = 22px
1.500rem = 24px
1.625rem = 26px

*/

@fontsize-base: 16px;
@fontsize-base-m: 16px;
@fontsize-small: 0.875rem;
@fontsize-small-m: 0.875rem;
@fontsize-normal: 1.125rem;
@fontsize-normal-m: 1rem;



@fontsize-h-largest: 3.4375rem;
@fontsize-h-smallest: 1.125rem;

@exponent: 1.8; // change this to decide curve between largest and smallest

@const: pow((@fontsize-h-largest - @fontsize-h-smallest), (1/@exponent))/4;

@fontsize-h1: @fontsize-h-smallest + pow((@const * 4), @exponent);
@fontsize-h2: @fontsize-h-smallest + pow((@const * 3), @exponent);
@fontsize-h3: @fontsize-h-smallest + pow((@const * 2), @exponent);
@fontsize-h4: @fontsize-h-smallest + pow((@const * 1), @exponent);
@fontsize-h5: @fontsize-h-smallest + pow((@const * 0), @exponent);


@fontsize-h1-m: 2rem;
@fontsize-h2-m: 1.563rem;
@fontsize-h3-m: 1.375rem;
@fontsize-h4-m: 1.3rem;
@fontsize-h5-m: 1.250rem;

@fontsize-ingress-type1: 1.375rem;
@fontsize-ingress-type1-m: 1.125rem;

@fontsize-ingress-type2: @fontsize-normal;
@fontsize-ingress-type2-m: @fontsize-normal-m;

//intro
@intro-h1: 5rem;
@intro-h1-m: 3.125rem;

@intro-p: 2rem;
@intro-p-m: 1.375rem;


// Misc
@fontsize-dropdownmenu: @fontsize-base;
@fontsize-panel-h1: 1.250rem;
@fontsize-list-emphasis: 1.438rem;
@fontsize-blockquote: 2rem;

@fontsize-footer: @fontsize-small;
@fontsize-footer-m:  @fontsize-small-m;



//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------
//       MARGINS                        
//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------


@margin-paragraph: 1.250em;
@margin-paragraph-small: 0.7em; //in infoboxes etc.

@margin-headings: 0 0 0.35em 0;
@margin-headings-cb: 1.8em 0 0.35em 0; //content box

@margin-ingress-base: 0 0 @margin-paragraph 0;



