<div class="readmore">
  
  <div class="myFade" ng-show="showText">
    <p ng-transclude></p>
  </div>
  <a ng-click="toggle()"><i ng-show="showText" class="glyphicon glyphicon-triangle-top"></i><span ng-bind-html="printedButtonText"></span></a>
  
 
</div>


