<div class="videomenu_holder">




    <div class="vimeovideo">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe id="video-iframe" class="embed-responsive-item" ng-src="{{trustSrc(videosrc)}}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div><!-- // .embed-responsive -->
    </div><!-- // .vimeovideo -->

     

    <div class="buttonsection  text-center">
      <div class="btn-group" role="group">

        <a class="btn btn-rj" ng-repeat="menuitems_item in menuitems" href="" ng-bind-html="menuitems_item.title" ng-click="onInputChange($index)" ng-mouseover="onMouseOver($index)"  ng-mouseleave="onMouseleave($index)"></a>
      
      </div>
    </div>

    <div class="infosection text-center">
      <p>{{ infotext }}</p>
    </div>

</div>
