@import "../00_variables";
@import "titlesystem_old_vars";



h1,
h2,
h3 {
    .font-bold();

    &.sectionType{
        .font-regular();
    }
}

h1 {
    font-size: @fontsize-h1;
    color: @color-h1;
    @media(max-width: @breakpoint1) {
        font-size: @fontsize-h1-m;
    }
}

h1.sectionType {
    font-size: @fontsize-sectionType-h1;    
    color: @color-h1-sectionType;

    @media(max-width: @breakpoint1) {
        font-size: @fontsize-sectionType-h1-m;
        //word-break:break-all;
    }
}

h2 {
    font-size: @fontsize-h2;
    color: @color-h2;

    @media(max-width: @breakpoint1) {
        font-size: @fontsize-h2-m;
    }
}

h2.sectionType {
    font-size: @fontsize-sectionType-h2;
    color: @color-h2-sectionType;

    @media(max-width: @breakpoint1) {
        font-size: @fontsize-sectionType-h2-m;
    }
}

h3.sectionType {
    .font-regular();
    font-size: @fontsize-sectionType-h3;
    color: @color-h3-sectionType;
    @media(max-width: @breakpoint1) {
        font-size: @fontsize-sectionType-h3-m;
    }
}

p.ingress {
    color: @color-ingress;
    .font-bold();
}


// er også repertert i compontents
p.sectionIngress {
    font-size: @fontsize-sectionIngress;
    color: @color-sectionIngress;
    margin: @margin-ingress-base;
    @media(max-width: @breakpoint1) {
        font-size: @fontsize-sectionIngress-m;
        //word-break:break-all;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: @margin-headings-base;
}



// in content boxes

.content-boxes-text {


     p.ingress, p.sectionIngress{
            margin: @margin-ingress-base;
        }
        
        
        h1{
            margin: @margin-cb-h1;
        }

        h2{
            margin: @margin-cb-h2;
        }

        h3{}


        h1,h2,h3 {

            &:first-child{
                margin-top: 0rem;
            }

            //sectionType
            &.sectionType{

                margin: @margin-section-headings;
                margin-top: 3em;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
 }