@import "../00_variables";

//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------
//  COLORS                        
//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------



// Heading & ingress | sectionType
@color-headings-section: @color-primary;
@color-h1-sectionType: @color-headings-section;
@color-h2-sectionType: @color-headings-section;
@color-h3-sectionType: @color-headings-section;
@color-sectionIngress: @color-ingress;

// Heading & ingress | normal/content-type
@color-headings: @color-text-primary;
@color-h1: @color-headings;
@color-h2: @color-headings;
@color-h3: @color-headings;
@color-ingress: @color-text-primary;



//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------
//       TEXTSIZES                        
//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------


@fontsize-h1: 1.500rem;
@fontsize-h2: 1.250rem;
@fontsize-h1-m: 1.3rem;
@fontsize-h2-m: 1.250rem;

// Section text
@fontsize-sectionType-h1: 3.4375rem;
@fontsize-sectionType-h2: 2.5rem;
@fontsize-sectionType-h3: 1.8rem;
@fontsize-sectionType-h1-m: 2rem;
@fontsize-sectionType-h2-m: 1.563rem;
@fontsize-sectionType-h3-m: 1.375rem;

// Section-title ingess
@fontsize-sectionIngress: 1.375rem;
@fontsize-sectionIngress-m: 1.125rem;


//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------
//       MARGINS                        
//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------


@margin-headings-base: 0 0 0.35em 0;
@margin-section-headings: @margin-headings-base;

@margin-cb-headings: 3em 0 0.35em 0;
@margin-cb-h1: @margin-cb-headings; //cb = content-box
@margin-cb-h2: 1.875em 0 0.35em 0; //cb = content-box

@margin-ingress-base: 0 0 @margin-paragraph 0;