/* IMPORT VARIABLES2 */

@import "compact_variables";

@qA-breakpoint1:           768px;
@qA-hmargin-standard:      30px;
@qA-hmargin-standard-m:    15px;

.quizApp {

    color: @qA-text-color;
    background-color: #fff;
    font-size: @qA-fontsize-base-normal;
    font-family: @qA-font-family-base;
    padding: 0 0 0 0;
    .icon {
        margin: 0.3em 0.3em 0px 0px;
        font-size: 19px;
        line-height: 0;
        color: @qA-color-secondary;
        float: right;
    }
    
    .innerWrapper {
        margin: 0 0 0 0;
        
        .section-left{
          
            float: left;
            padding-right: 10px;
            border-right: 1px solid darken(#f2f2f2, 10%);
        }
        
        .section-right{
             margin-top: 0em;
             
             padding: 0px 10px 0px 10px;
           
             float: right;
             height: 100%;
            
             border-radius: 4px;
             
        }
        
        .section-feedback-standard{
            margin-top: 5px;
        }
        
        .quizHeading {
            font-size: @qA-quizHeading; 
            color: @qA-color-contrast;
            margin-bottom: 10px;
            font-weight: bold;
        }
        
        .q_text {
           
            margin-bottom: 15px; //24px
        
            font-weight: normal;
            > p {
           
                margin-top: 0em;
               
               p{
                 margin-top: 1em; 
               }
            }
            a {
                font-size: inherit;
                text-decoration: underline;
                color: @qA-link-color;
                &:hover {
                    color: @qA-color-contrast;
                }
            }
        }
        
        
        .rightWrongFeedback {
            
      
            p {
                color: @qA-text-color;
                font-weight: normal;
            }
            p.standard {
                margin-bottom: 0px;
            }
        }
        
        
        .buttonContainer {
               
            .alert, .spaceBetweenButtons , .qButton_container, .navButton_container {
               float: left;
            }

            .spaceBetweenButtons{
                width: 10px; 
            }

            .alert{
                font-family: @qA-font-family-base;
                font-size: @qA-fontsize-base-normal;
                padding: 1px 12px;
                border-radius: 4px;
                margin: 0 10px 0 0;
            } 

            .btn.btn-rj {
                font-size: @qA-fontsize-base-normal;
                font-family: @qA-font-family-base;
                background-color: #fff;
                color: @qA-text-color;
                border-color: @qA-color-contrast;
                border-width: 2px;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;    
                
                padding: 0px 10px;
                
                &:hover {
                    color: #fff;
                    background-color: @qA-color-contrast;
                }
            }





        }
        
        ///////////////// Type spesific /////////////////
        
        .options {
            
            display: block;
            margin-bottom:15px;


            
            
            > .btn {
                text-align: left;                
                color: @qA-text-color;           
                border: none;
                margin-left: 0;
                margin-bottom: 3px;
                padding: 3px 10px;
                white-space: normal;
                border: 1px solid darken(#fff, 10%);
                @media(max-width: @qA-breakpoint1) {
                    padding-left: 10px;
                }
                &:active,
                &.btn.active,
                &:hover {
                    background-color: darken(#fff, 5%);
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }

                &.btn.disabled:hover,
                &.btn.disabled.active,
                &.btn.disabled.active:hover {
                    background-color: #fff;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }



                &.btn.active.correctColor,
                &.correctColor,
                &.btn.disabled.correctColor,
                &.btn.disabled.active.correctColor {
                    background-color: #dff0d8;
                }

                &.btn.active.wrongColor,
                &.wrongColor,
                &.btn.disabled.wrongColor,
                &.btn.disabled.active.wrongColor{
                    background-color: #f2dede;
                }

                &:disabled,
                &.btn.disabled,
                &.btn.disabled.active{
                    cursor: auto;
                    opacity: 1;
                    border-color: #fff;
                }
            }
            > label span {
                margin-top: -1.313em; 
                display: block;
                margin-left: 25px;
                @media(max-width: @qA-breakpoint1) {
                    margin-left: 20px;
                }
            }
        }
        
        
        
        .write {
            textarea {
                width: 100%;
                max-width: 100%;
                height: 150px;
            }
            textarea[disabled] {
                background-color: #eee;
                color: #555;
            }
        }
        .fillin>input,
        .fillin>label {
            font-size: @qA-fontsize-feedback;
            font-weight: normal;
        }
        .fillin>input{
            font-weight: bold;
            padding-left: 3px;
        }
    }
}

.quizApp.quizApp_border {
    border: 2px solid @qA-color-secondary;
    border-radius: @qA-border-radius;
    > .innerWrapper {
        padding: 3.125em @qA-hmargin-standard 3.125em @qA-hmargin-standard;
        @media(max-width: @qA-breakpoint1) {
            padding: 3.125em @qA-hmargin-standard-m 3.125em @qA-hmargin-standard-m;
        }
    }
}

.myfade.ng-enter,
.myfade.ng-hide-remove {
    transition: 0.7s linear all;
    -webkit-transition: 0.7s linear all;
    -moz-transition: 0.7s linear all;
    opacity: 0;
}

.myfade.ng-enter.ng-enter-active,
.myfade.ng-hide-remove.ng-hide-remove-active {
    transition: 0.7s linear all;
    -webkit-transition: 0.7s linear all;
    -moz-transition: 0.7s linear all;
    opacity: 1;
}

.myfade.ng-leave,
.myfade.ng-hide-add {
    opacity: 0;
    display: none;
}

.myfade.ng-leave.ng-leave-active {
    opacity: 0;
    display: none;
}



*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


p, .btn{
    font-family: @qA-font-family-base;
    font-size: @qA-fontsize-base-normal;
    font-weight: normal;
    
    > p{
        font-size: inherit;
    }
    
}

a {
    font-size: @qA-fontsize-base-normal;
    font-family: @qA-font-family-base;
    outline: none;
    text-decoration: underline;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    &:hover, 
    &:focus {
        outline: none;
        text-decoration: none;
        text-decoration: underline;
    }
}



