@qA-body-bg: #f2f4f4;

// fonts and sizes
@qA-font-family-base:        'Verdana', sans-serif;
// @qA-font-family-base:        "Helvetica Neue",Helvetica,Arial,sans-serif;
@qA-fontsize-base:           16px;
@qA-fontsize-base-normal:    0.875rem; 
@qA-fontsize-base-normal-m:  @qA-fontsize-base-normal; 

@qA-quizHeading:             1.125rem;

@qA-fontsize-feedback: @qA-fontsize-base-normal;

// colors
@qA-color-primary:         #444444;
@qA-color-secondary:       #38a6db;
@qA-color-contrast:        #ff6137;

@qA-text-color:            @qA-color-primary;
@qA-link-color:            @qA-color-secondary;  



// misc
@qA-border-radius:         5px;

