@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

@qA-body-bg: #f2f4f4;


/*---------------------------------------*/
/*  COLORS
/*---------------------------------------*/

@qA-color-primary: #054977;
@qA-color-secondary: #38a6db;
@qA-color-contrast: #ff6137;

@qA-text-color:         @qA-color-primary;
@qA-feedback-color:     @qA-color-primary;
@qA-color-links:        @qA-color-contrast;
@qA-color-links-hover:  darken(@qA-color-links, 20%); 

@qA-color-btn-primary: @qA-color-contrast;
@qA-color-btn-text: @qA-color-primary;          

/*---------------------------------------*/
/*  TEXT

On fontsize-base = 16px:

1.125rem = 18px
1.250rem = 20px
1.313rem = 21px
1.375rem = 22px
1.500rem = 24px
1.625rem = 26px

/*---------------------------------------*/

@qA-font-family-base:          'Lato', sans-serif;


@qA-fontsize-base: 16px;
@qA-fontsize-base-normal: 1.125rem; 
@qA-fontsize-base-normal-m: 1rem; 

@qA-fontsize-quizHeading: @qA-fontsize-base-normal;
@qA-fontsize-qText: 1.250rem;
@qA-fontsize-feedback: @qA-fontsize-base-normal;
@qA-fontsize-fillin: @qA-fontsize-base-normal;


/*---------------------------------------*/
/*  MARGINS
/*---------------------------------------*/

@qA-hmargin-standard: 30px;
@qA-hmargin-standard-m: 15px;

/*---------------------------------------*/
/*  MISC
/*---------------------------------------*/

@qA-breakpoint1: 768px;
@qA-border-radius: 5px;

