/* IMPORT VARIABLES */

@import "default_variables";

.quizApp {
    color: @qA-color-primary;
    background-color: #fff;
    font-family: @qA-font-family-base;
    font-size: @qA-fontsize-base;
    padding: 0 0 0 0;
    .icon {
        margin: 0.3em 0.3em 0 0;
        font-size: 22px;
        line-height: 0;
        color: @qA-color-secondary;
        float: right;
    }
    
    .innerWrapper {
        margin: 0 0 0 0;
        
        .section-left{
            float: left;
            padding-right: 10px;
            border-right: 1px solid darken(#f2f2f2, 10%);
        }
        
        .section-right{
             margin-top: 0em;
             padding-left: 10px;
             float: right;
        }
        
        .section-feedback-standard{
            margin-top: 1.5em;
        }
        
        .quizHeading {
            font-size: @qA-fontsize-quizHeading; 
            color: @qA-color-contrast;
            margin-bottom: 1.5em; 
        }
        
        .q_text {
            font-size: @qA-fontsize-qText;
            margin-bottom: 1.5em; 
            font-weight: normal;
            p {
                font-size: @qA-fontsize-qText;
                margin-top: 0;
            }
            a {
                font-size: inherit;
                text-decoration: underline;
                color: @qA-color-links;
                &:hover {
                    color: @qA-color-links-hover;
                }
            }
        }
        
        
        .rightWrongFeedback {
            
            font-size: @qA-fontsize-feedback;
            color: @qA-feedback-color;

            p p{
              margin-top: 10px;
            }
        }
        
        
        .buttonContainer {
           
            padding-top: 20px;
                 
            .alert, .spaceBetweenButtons, .navButton_container, .qButton_container {
                float: left;
            }

            .spaceBetweenButtons{
                width: 10px; 
            }


            .alert{
                padding: 10px 12px;
                border-radius: 4px;
                margin: 0px;
                margin: 0 10px 0 0;

            }  

            .btn.btn-rj {
                font-size: 1.25rem; 
                background-color: #fff;
                color: @qA-color-btn-text;
                border-color: @qA-color-btn-primary;
                border-width: 2px;
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                &:hover {
                    color: #fff;
                    background-color: @qA-color-btn-primary;
                }
            }


        }
        
        ///////////////// Type spesific /////////////////
        
        .options {
            
            display: block;
            
            > .btn {
                font-family: @qA-font-family-base;
                text-align: left;
                color: @qA-color-primary;
                border: none;
                margin-left: 0;
                margin-bottom: 4px;
                padding-left: 20px;
                white-space: normal;
                border: 1px solid darken(#fff, 10%);
                @media(max-width: @qA-breakpoint1) {
                    padding-left: 10px;
                }
                &:active,
                &.btn.active,
                &:hover {
                    background-color: darken(#fff, 5%);
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }

                &.btn.disabled:hover,
                &.btn.disabled.active,
                &.btn.disabled.active:hover {
                    background-color: #fff;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }

                &.btn.active.correctColor,
                &.correctColor,
                &.btn.disabled.correctColor,
                &.btn.disabled.active.correctColor {
                    background-color: #dff0d8;
                }
                &.btn.active.wrongColor,
                &.wrongColor,
                &.btn.disabled.wrongColor,
                &.btn.disabled.active.wrongColor {
                    background-color: #f2dede;
                }
                
                &:disabled,
                &.btn.disabled,
                &.btn.disabled.active{
                    cursor: auto;
                    opacity: 1;
                    border-color: #fff;
                }


            }
            > label span {
                margin-top: -1.313em; //21px
                display: block;
                margin-left: 40px;
                @media(max-width: @qA-breakpoint1) {
                    margin-left: 20px;
                }
            }
        }
        
        
        
        .write {
            textarea {
                width: 100%;
                max-width: 100%;
                height: 150px;
            }
            textarea[disabled] {
                background-color: #eee;
                color: #555;
            }
        }
        .fillin>input,
        .fillin>label {
            font-size: @qA-fontsize-feedback;
            font-weight: normal;
        }
        .fillin>input{
            font-weight: bold;
            padding-left: 5px;
        }
    }
}

.quizApp.quizApp_border {
    border: 2px solid @qA-color-secondary;
    border-radius: @qA-border-radius;
    > .innerWrapper {
        padding: 3.125em @qA-hmargin-standard 3.125em @qA-hmargin-standard;
        @media(max-width: @qA-breakpoint1) {
            padding: 3.125em @qA-hmargin-standard-m 3.125em @qA-hmargin-standard-m;
        }
    }
}


.myfade.ng-enter,
.myfade.ng-hide-remove {
    transition: 0.7s linear all;
    -webkit-transition: 0.7s linear all;
    -moz-transition: 0.7s linear all;
    opacity: 0;
}

.myfade.ng-enter.ng-enter-active,
.myfade.ng-hide-remove.ng-hide-remove-active {
    transition: 0.7s linear all;
    -webkit-transition: 0.7s linear all;
    -moz-transition: 0.7s linear all;
    opacity: 1;
}

.myfade.ng-leave,
.myfade.ng-hide-add {
    opacity: 0;
    display: none;
}

.myfade.ng-leave.ng-leave-active {
    opacity: 0;
    display: none;
}



*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


p, .btn{
    font-size: @qA-fontsize-base-normal; 
    font-weight: normal;
    
    @media(max-width:@qA-breakpoint1) {
        font-size: @qA-fontsize-base-normal-m;
    }
}

li {
    margin-bottom: 0.75%;
}


a {
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    &:hover, 
    &:focus {
        outline: none;
        text-decoration: none;
    }
}


